@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    @if (HttpContextAccessor.HttpContext.Session.GetInt32("Shopping cart session") != null)
    {
        <li id="cart-nav-icon">
            <a class="nav-link" asp-controller="ShoppingCarts" asp-action="Index" style="font-size: 1rem" id="cart-nav-icon2">
            @{ var count = HttpContextAccessor.HttpContext.Session.GetInt32("Shopping cart session"); }
                <script>
                    if (@count > 0) {
                        document.getElementById('cart-nav-icon').classList.add('highlight');
                        document.getElementById('cart-nav-icon2').classList.add('highlight');
                }
                </script>
            <i class="fas fa-shopping-cart fa-lg"></i>&nbsp;(@count)</a>
        </li>
    }
</ul>
