@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-info">
    <img src="~/img/banner.jpg" alt="I'll be back" style="width: 100%"/>
    <h1 class="display-5">Important Information</h1>
    <p>In line with the Government's guidlines we will be closing all our cinema halls from Aprile 4, until Aprile 30, the officially announced COVID-19 pandemic deadline.</p>
    <p>Any pre-booked tickets will be refunded automatically. For any specific question, please contact our Customer Support.</p>
</div>
